NODE_ENV=development
LOG_LEVEL=info
POSTGRES_USER=profile
POSTGRES_PASSWORD=profile
POSTGRES_DB=profile
DATABASE_URL=postgresql://profile:profile@localhost:5432/profile?schema=public
POSTGRES_PORT=5432
APP_PORT=3000
